a:link {color: #483d3b; text-decoration: underline;}
a:visited {color: #483d3b; text-decoration: underline;}
a:hover { color:#d40000; text-decoration: none;}

body
{
background-color: #ffffff;
font-size: 12px;
text-align: center;
}

/* entry */
p
{
font-family: sans;
text-indent: 20px;
color: black;
}

/* title */
h1
{
text-indent: 20px;
font-size: 32pt;
font-weight: bold;
font-family: helvetica;
color: black;
}

/* entry title */
h2
{
font-size: 16pt;
text-align: left;
}

/* news title */
h3
{
font-size: 11pt;
text-align: center;
}

/* entry footer */
h4
{
text-align: left;
text-indent: 20px;
font-size: 7pt;
color: gray;
}

/* site footer */
h5
{
font-size: 8pt;
color: black;
text-align: center;
}

/* big div */
.all
{
margin: 0 auto;
text-align: left;
position: relative; top: -30px;
width: 880px; height: auto;
min-height: 1600px;
border: 0px black solid;
background-color: #ffffff;
}

/* holds recent post links */
.news
{
position: absolute; top: 100px; right: 0px;
text-align: center;
border-left: 0px black solid;
width: 170px; height: 100%;
padding: 10px;
}

/* makes a title for the newsbar */
.newstitle
{
padding: 4px;
background: url('public/images/newsBack.png');
color: #ffffff;
text-align: center;
font-size: 13pt;
text-decoration: underline;
font-weight: bold;
position: relative; top: -10px; left: -10px;
width: 182px; height: 32px;
}

/* the little line b/t news items */
.dividernews
{
border-top: 1px #483D3B solid;
width: 116px; height: 6px;
position: relative; top: 0px; left: 10px;
}

.spacer
{
border: 0px black solid;
position: relative; right: 0px;
height: 26px; width: 393px;
}

/* entries div class */
.entries
{
position: relative; top: 20px; left: 24px;
text-align: left; 
border-top: 0px black solid;
width: 604px; height: auto;
padding: 10px;
background-color: white;
}

.prev
{
z-index: 2;
border: 0px black solid;
height: 20px; width: 110px;
position: absolute; bottom: 40px; left: 58px;
}

.next
{
z-index: 2;
border: 0px black solid;
height: 20px; width: 110px;
position: absolute; bottom: 40px; right: 204px;
}

.footer
{
border-left: 5px black solid;
border-right: 5px black solid;
border-bottom: 5px black solid;
background: #ffffff;
position: absolute; bottom: -57px; left: -5px;
height: 52px; width: 880px;
}

.footerline
{
z-index: 1;
border-top: 1px black solid;
height: 20px; width: 800px;
position: relative; top: 16px; left: 40px;
}

/************************************************** Navbar ****************************************************/


ul.nav li
{
display: inline;
float: left;
margin: -4px 0 0 -10px;
}

ul.nav li a
{
text-align: center;
background: #ffffff;
border: 0px black solid;
padding: 3px 10px 3px 10px;
margin: 0 10px 0 0;
text-decoration: none;
font-weight: bold;
}
ul.nav li a:hover {color: #d40000;}

