a:link {color: #353535; text-decoration: underline;}
a:visited {color: #353535; text-decoration: underline;}
a:hover {color:#d40000; text-decoration: none;}

body
{
background-color: #ffffff;
font-size: 12px;
text-align: center;
}

/* entry */
p
{
font-family: sans;
text-indent: 20px;
color: black;
}

/* title */
h1
{
text-indent: 20px;
font-size: 32pt;
font-weight: bold;
font-family: helvetica;
text-decoration: none;
color: black;
}

/* entry title */
h2
{
font-size: 16pt;
text-align: left;
}

/* news title */
h3
{
font-size: 11pt;
text-align: center;
}

/* entry footer */
h4
{
text-align: left;
text-indent: 20px;
font-size: 7pt;
color: gray;
}

/* site footer */
h5
{
font-size: 8pt;
color: black;
text-align: center;
}

/* big div */
.all
{
border: 0px black solid;
margin: 0 auto;
text-align: left;
position: relative; top: -30px;
width: 880px; height: auto;
min-height: 1200px;
background-color: #ffffff;
}

	/* top card corner decoration div */
	.decCornerTop
	{
	background-image: url('../images/backPageRound.png');
	position: absolute; top: -30px; left: 0px;
	width: 128px; height: 128px;
	}

	/* holds recent post links */
	.news
	{
	position: absolute; top: 100px; right: 0px;
	text-align: center;
	border-left: 0px black solid;
	width: 170px; height: 100%;
	padding: 10px;
	}

	/* makes a title for the newsbar */
	.newstitle
	{
	padding: 4px;
	background: url('../images/newsBackLight.png');
	color: #535353;
	text-align: center;
	font-size: 13pt;
	text-decoration: underline;
	font-weight: bold;
	position: relative; top: -10px; left: -10px;
	width: 182px; height: 32px;
	}

	/* the little line b/t news items */
	.dividernews
	{
	border-top: 1px #483D3B solid;
	width: 116px; height: 6px;
	position: relative; top: 0px; left: 10px;
	}

	/* entries div class */
	.entries
	{
	position: relative; top: 20px; left: 24px;
	border: 0px black solid;
	text-align: left; 
	width: 604px; height: auto;
	padding: 10px;
	background-color: white;
	}

	/* top card corner decoration div */
	.decCornerBot
	{
	background-image: url('../images/backPageBottomRound.png');
	position: absolute; bottom: 0px; right: 0px;
	width: 128px; height: 128px;
	}

	/* Specifically for RankForm */
	/* up button */
	b.up
	{
			cursor: pointer;
			float: right;
	}
	b.up:hover {color: #ffc741;}

	/* down button */
	b.down
	{
			cursor: pointer;
			float: right;
	}
	b.down:hover {color: #ffc741;}

	/* shows the rank of the element */
	font.rankDisp
	{
			position: absolute;
			color: #ffc741;
	}

	/* Container div for Rank, HTML form rank selector */
	.rankContainer
	{
			position: relative;
			width: 412px; height: auto;
			border: 1px #645c56 solid;
			padding: 8px;
	}

	/* Rankable element div for Rank, HTML form rank  */
	.rankElement
	{
			position: relative;
			width: 400px; height: auto;
			margin: 3px;
			padding: 3px;
			background: #645c56;
			color: #ffffff;
	}

/************************************************** Navbar ****************************************************/


ul.nav li
{
display: inline;
float: left;
margin: -4px 0 0 -10px;
}

ul.nav li a
{
text-align: center;
background: transparent;
border: 0px black solid;
padding: 3px 10px 3px 10px;
margin: 0 10px 0 0;
text-decoration: none;
font-weight: bold;
}
ul.nav li a:hover {color: #d40000;}
