a:link {color: #483D3B; text-decoration: underline;}
a:visited {color: #808080; text-decoration: underline;}
a:hover { color:#000000; text-decoration: none;}

BODY
{
background-color: #483D3B;
text-align: center;
}

p																						/* entry */
{
font-family: sans;
text-indent: 20px;
color: black;
}

h1																						/* entry header */
{
text-indent: 20px;
font-size: 14pt;
color: black;
}

h2																							/* mystery */
{
font-size: 12pt;
text-align: left;
}

h6																						/* entry footer */
{
text-align: left;
text-indent: 20px;
font-size: 7pt;
color: gray;
}

h3																						/* site footer */
{
font-size: 8pt;
color: black;
}

.all																					/* big div */
{
margin: 0 auto;
position: relative; top: -30px;
width: 880px; height: auto;
min-height: 1600px;
border-top: 5px black solid;
border-left: 5px black solid;
border-right: 5px black solid;
background-color: #ffffff;
}

.titlenav																				/* title div class */
{
width: 600px; height: 160px;
border: 0px black solid;
position: relative; top: 0px; left: 24px;
background-color: white;
} 

.title
{
width: 600px; height: 100px;
background: url('images/title0.jpg');
}
.title:hover {background: url('images/title0bg.jpg');}

.entries																					/* entries div class */																			
{
position: relative; top: 20px; left: 24px;
text-align: left; 
border-top: 1px black solid;
width: 604px; height: auto;
padding: 10px;
background-color: white;
}

.newstop																				/* top part of newsbar */
{
position: relative; top: -10px; left: -10px;
border: 1px red solid;
width: 168px; height: 203px;
padding: 10px;
background: #ffffff;
}

.news
{																						/* holds recent post links */
position: absolute; top: 0px; right: 0px;
text-align: center;
border-left: 1px black solid;
width: 170px; height: 100%;
padding: 10px;
background-color: white;
}

.newstitle																		/* makes a title for the newsbar */
{
padding: 4px;
background: #483D3B;
color: #ffffff;
text-align: center;
font-size: 14pt;
text-decoration: underline;
font-weight: bold;
position: relative; top: -10px; left: -10px;
width: 182px; height: 32px;
}
.newstitle:hover {background: #efefef; color: #000000}

.dividernews																		/* the little line b/t news items */
{
border-top: 1px #483D3B solid;
width: 116px; height: 6px;
position: relative; top: 0px; left: 10px;
}

.spacer
{
border: 0px black solid;
position: relative; right: 0px;
height: 26px; width: 393px;
}

.prev
{
z-index: 2;
border: 0px black solid;
height: 20px; width: 110px;
position: absolute; bottom: 40px; left: 58px;
}

.next
{
z-index: 2;
border: 0px black solid;
height: 20px; width: 110px;
position: absolute; bottom: 40px; right: 204px;
}

.footer
{
border-left: 5px black solid;
border-right: 5px black solid;
border-bottom: 5px black solid;
background: #ffffff;
position: absolute; bottom: -57px; left: -5px;
height: 52px; width: 880px;
}

.footerline
{
z-index: 1;
border-top: 1px black solid;
height: 20px; width: 800px;
position: relative; top: 16px; left: 40px;
}

/************************************************** Navbar ****************************************************/


ul.nav1 li
{
display: inline;
float: left;
margin: -4px 0 0 -10px;
}
ul.nav2 li
{
display: inline;
float: left;
margin: -4px 0 0 0px;
}
ul.nav3 li
{
display: inline;
float: left;
margin: -4px 0 0 0px;
}
ul.nav4 li
{
display: inline;
float: left;
margin: -4px 0 0 0px;
}

ul.nav1 li a
{
text-align: center;
background-image: url('images/navHome.jpg');
border: 1px black solid;
padding: 3px 58px 3px 59px;
margin: 0 10px 0 0;
text-decoration: none;
font-weight: bold;
font-size: 18pt;
}
ul.nav1 li a:hover {background-image: url('images/navHomeO.jpg');}

ul.nav2 li a
{
text-align: center;
background-image: url('images/navCV.jpg');
border: 1px black solid;
padding: 3px 58px 3px 59px;
margin: 0 10px 0 0;
text-decoration: none;
font-weight: bold;
font-size: 18pt;
}
ul.nav2 li a:hover {background-image: url('images/navCVO.jpg');}

ul.nav3 li a
{
text-align: center;
background-image: url('images/navBlog.jpg');
border: 1px black solid;
padding: 3px 58px 3px 59px;
margin: 0 10px 0 0;
text-decoration: none;
font-weight: bold;
font-size: 18pt;
}
ul.nav3 li a:hover {background-image: url('images/navBlogO.jpg');}

ul.nav4 li a
{
text-align: center;
background-image: url('images/links.jpg');
border: 1px black solid;
padding: 3px 58px 3px 59px;
margin: 0 10px 0 0;
text-decoration: none;
font-weight: bold;
font-size: 18pt;
}
ul.nav4 li a:hover {background-image: url('images/linkso.jpg');}





