	        <h2>About</h2>
			<img src = "images/justinLlama.jpg" style = "float: right; padding: 8px;" title = "I'm at least this awesome in real life">
			<p>
            I'm a recent electrical engineering graduate from the University of Michigan originally from Las Vegas.  I'm
			currently living in Lima, Peru, where I work as a software developer for
			<a href = "http://www.telefonica.com">Telefonica</a>.
			When I'm not programming for work I'm usually programming for fun; check out my
			<a href = "projects.php">Projects</a>
			page.
            </p>
			<p>
			By the way, this website is currently undergoing a lot of renovations and getting back to full functionality.  I had to let things
			slide a bit for the last school year when I had no time to keep things running smoothly.  Now that I no longer have homework and
			studying to hold me back, I'm trying to give the site the love it deserves.
			</p>
			<p>
			Feel free to contact me at justinjmccandless at gmail dot com.
			</p>
