<?php

// connect to DB and paste latest entry
		global $entry, $DBjmc;

		$DATA = $DBjmc->getRow("Entries", ($entry));

		echo "<h4>" . $DATA["Title"] . "</h4><br>\n";

		echo $DATA["Entry"] . "<br>\n";
?>

		<h6>Posted: <?php echo $this->dateMacHum($DATA["Date"]); ?> </h6>

        <br><br>
<?php

if ($entry > 0)
	echo '<a href = "index.php?entry=' . ($entry - 1) . '" style = "position: absolute; left: 0px;">Previous</a>';
if ($entry < ($DBjmc->numRows("Entries") - 1))
	echo '<a href = "index.php?entry=' . ($entry + 1) . '" style = "position: absolute; right: 0px;">Next</a>';

?>
		<br><br>
