		<br><br>

		<h2>Pictures</h2>

<?php

// Config
$dirConf = "/public/Pictures/";	// Pictures directory, end it with a slash

$dir = $this->dirRoot . $dirConf;
$dirReq = str_replace("..", "", $_REQUEST["dir"]);	// dont let people go up one with ..
if ($dirReq)
	$dir = $dir . $dirReq;

$dirUrl = $this->rootUrl . substr($dir, (strlen($this->dirRoot) + 7), (strlen($dir) - strlen($this->dirRoot)));

echo "<p>Current Directory:<br>\n";
echo "/$dirReq</p><br><br>\n";

if ($dir != $dirReq)
	echo "<a href = \"" . $this->urlRoot . "/pictures.php?dir=" . $this->dirUp($dirReq) . "\">Go Back</a><br><br>\n";
if (is_dir($dir))
{
    if ($dh = opendir($dir))
	{
        while (($file = readdir($dh)) != false)
		{
			if ((filetype($dir . $file) == "dir") && ($file != ".") && ($file != ".."))
				echo "<a href = \"" . $this->urlRoot . "/pictures.php?dir=$dirReq$file/\">$file/</a><br>";
        }
        closedir($dh);
		echo "<br><br>\n";
		$dh = opendir($dir);

        while (($file = readdir($dh)) != false)
		{
			if (substr_count($file, "jpg") || substr_count($file, "JPG"))
			{
echo "<a href = \"$dirUrl$file\"><img src = \"magick.php?file=$dir$file&x=600&y=0\" width = \"600\" height = \"450\"></a>
						<br><a href = \"$dirUrl$file\">$file</a><br><br>\n";
			}
		}

        closedir($dh);

	}
}
else
	echo "ERROR: Invalid directory\n";

?>

        <br><br>
