		<h4>Projects</h4>
		<br>
		<h5>Server Network Process Optimization</h5>
		<p>I worked on this project with the
		<a href = "http://spsc.tugraz.at/">Signal Processing and Speech Communication Laboratory</a>
		at the 
		<a href = "http://www.tugraz.at" target = "blank">Graz University of Technology </a>
		in Austria.  The group ran many huge DSP simulations, and this tool optimized their completion time running on the
		group's network of servers by scheduling and managing processes.
		</p>
		<br><br>
		<h5>AIESEC Michigan's Website</h5>
		<p class = "softwareLink">Live: <a href = "http://www.aiesecmichigan.com">aiesecmichigan.com</a></p>
		<p class = "softwareLink">Source: <a href = "http://www.github.com/justinmc/aiesecmichigan.com">github.com/justinmc/aiesecmichigan.com</a></p> 
		<p>I wrote this website while a member of the student organization
		<a href = "http://www.aiesec.org">AIESEC</a>
		during college.  Also has a pretty big internal side that manages a lot of information for members, and authentication is handled by having users
		log into their Gmail accounts, confirming, and checking against a list of allowed Gmail users.
		</p>
		<br><br>
		<h5>AIESEC Michigan Online Yearbook</h5>
		<p class = "softwareLink">Live: <a href = "http://www.aiesecmichigan.com/yearbook/index.php">aiesecmichigan.com/yearbook</a></p>
<!--		<p class = "softwareLink">Source: <a href = "http://www.github.com/justinmc/aiesecmichigan.com">github.com/justinmc/aiesecmichigan.com</a></p>   -->
		<p>
		A tribute to the 2009-2010 year at AIESEC Michigan that I wrote with some design help from a few other members.  It includes pictures of all
		of our members and a bunch from our events that year, as well as a comment system to make it as much like a paper yearbook as possible.
		</p>
		<br><br>
		<h5>AIESEC US Summer National Conference 2010</h5>
		<p class = "softwareLink">Live: <a href = "http://www.aiesecmichigan.com/snc2010/index.php">aiesecmichigan.com/snc2010</a></p>
<!--		<p class = "softwareLink">Source: <a href = "http://www.github.com/justinmc/aiesecmichigan.com">github.com/justinmc/aiesecmichigan.com</a></p> -->
		<p>
		The website for one of the two conferences AIESEC United States holds every year.  Hundreds of students attended the conference, held in Detroit
		that year, from around the US and the world.  The site used a simple WYSIWYG content management system that I wrote to allow the other members
		of the team to help put content on the pages.
		</p>
		<br><br>
		<h5>Scrolling div bar</h5>
		<p class = "softwareLink">Source: <a href = "http://www.github.com/justinmc/Scrolling-Image-Bar">github.com/justinmc/Scrolling-Image-Bar</a></p>
		<p>
		A simple side scrolling jQuery title bar like the ones you see on many websites.  Developed for aiesecmichigan.com
		and then turned into it's own project.  Also have a vanilla javascript version.
		</p>
		<br><br>
		<h5>Bertacco Lab's Website</h5>
		<p class = "softwareLink">Live: <a href = "http://www.eecs.umich.edu/bertacco">eecs.umich.edu/bertacco</a></p>
		<p>
		A website I developed for a research group at Michigan.  It uses a content management system that retrieves all content for the site
		from Google Docs, so managing large amounts of information is as simple as keeping it in a spreadsheet.
		</p>
		<br><br>
		<h5>Website of Fundación Ecológica Arcoisis</h5>
		<p class = "softwareLink">Live: <a href = "http://www.arcoiris.org.ec">arcoiris.org.ec</a></p>
		<p>
		A website I developed while interning at this ecologic nonprofit in Ecuador.  I wrote the content management system to allow
		updates and changes to be made in as simple a manner as possible. 
		</p>
