<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>																																		
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="description" content="Personal blog of the life Justin McCandless">
<meta name="keywords" content="Peru, Travel"> 
<meta name="google-site-verification" content="udKKu8OEdAdtCp2TvUqEh_YcRkXu8uIE4a2qYEtEniE" />

<link rel = stylesheet type = "text/css" href = "http://localhost/stylesheets/main.css">
<script type="text/javascript" src="/home/justin/Programming/justinmccandless.com/lib/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/home/justin/Programming/justinmccandless.com/public/javascripts/ckeditor_replace.js"></script>
<!-- Google +1 Code -->

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<title>The Personal Blog of Justin McCandless | Feliz Cumpeaños</title>
<link REL="SHORTCUT ICON" href="http://localhost/images/favicon.ico">
<!-- <link rel="alternate" type="application/rss+xml" title="All RSS" href="http://justinmccandless.com/feeds/rss.xml" /> -->
<!-- <link rel="alternate" type="application/rss+xml" title="All Atom" href="http://justinmccandless.com/feeds/atom.xml" /> -->
</head>

<body>

<!-- Facebook Like code -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=132237094403";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Google Ad Sense code -->
<script type="text/javascript"><!--
google_ad_client = "ca-pub-2475745093547689";
/* 180&#42;150 small retangle */
google_ad_slot = "8421616956";
google_ad_width = 180;
google_ad_height = 150;
//-->
</script>

<br><br>

<div class = "all">
	<div class = "decCornerTop"></div>
    <img src = "http://localhost/images/titleSuits.png" style = "position: absolute; top: -10px; right: 64px;">
    <a href = "index.php"><h1 style = "position: relative; top: -10px; left: 0px;">Justin John McCandless</h1></a>
    <ul class = "nav" style = "position: relative; top: -20px; left: 0px;">
    <li><a href = "index.php">Home</a>

    <li><a href = "about.php">About</a>
    <li><a href = "projects.php">Projects</a>
    <li><a href = "archive.php">Archive</a>
    </ul>
    <div class = "news">
        <!-- Begin Google Custom Search -->        
		<form action="http://localhost/search.php" id="cse-search-box">
		  <div>

			<input type="hidden" name="cx" value="partner-pub-2475745093547689:0579282146" />
			<input type="hidden" name="cof" value="FORID:10" />
			<input type="hidden" name="ie" value="UTF-8" />
			<input type="text" name="q" size="12" />
			<input type="submit" name="sa" value="Search" />
		  </div>
		</form>
		<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>

		<!-- End Google Custom Search -->
        <br><br><br><br>
        <div class = "newstitle">
            <a href = "tags.php">Tags</a>
        </div>
<a href = "http://localhost/tags.php?tag=Life">Life</a><br>
<a href = "http://localhost/tags.php?tag=Technology">Technology</a><br>
<a href = "http://localhost/tags.php?tag=Solutions">Solutions</a><br>

<a href = "http://localhost/tags.php?tag=Travel">Travel</a><br>
<a href = "http://localhost/tags.php?tag=Websites">Websites</a><br>
<a href = "http://localhost/tags.php?tag=Peru">Peru</a><br>
        <br><br>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
		<br><br>
        <div class = "newsBox">
		<br>

        <h2><a href = "index.php?entry=60">Feliz Cumpeaños</a></h4>
        <h3>2011-11-08</h3>
		</div>
        <div class = "newsBoxT">
		<br>
        <h2><a href = "index.php?entry=59">Ica</a></h4>
        <h3>2011-11-01</h3>

		</div>
        <div class = "newsBox">
		<br>
        <h2><a href = "index.php?entry=58">Volunteering Cont'd</a></h4>
        <h3>2011-10-30</h3>
		</div>
        <div class = "newsBoxT">
		<br>

        <h2><a href = "index.php?entry=57">Volunteering</a></h4>
        <h3>2011-10-19</h3>
		</div>
        <div class = "newsBox">
		<br>
        <h2><a href = "index.php?entry=56">To Lima</a></h4>
        <h3>2011-10-10</h3>

		</div>
        <div class = "newsBoxT">
		<br>
        <h2><a href = "index.php?entry=55">Huaraz</a></h4>
        <h3>2011-08-30</h3>
		</div>
        <div class = "newsBox">
		<br>

        <h2><a href = "index.php?entry=54">Blog Fixed</a></h4>
        <h3>2011-08-06</h3>
		</div>
        <div class = "newsBoxT">
		<br>
        <h2><a href = "index.php?entry=53">Adventures in Starting a Minecraft Server</a></h4>
        <h3>2010-10-17</h3>

		</div>
    </div>
    <div class = "main">
		<br><br>
		<br><br>
		Really secret stuff.


			<textarea cols="80" id="editor1" name="editor1" rows="10">&lt;p&gt;This is some &lt;strong&gt;sample text&lt;/strong&gt;. You are using &lt;a href="http://ckeditor.com/"&gt;CKEditor&lt;/a&gt;.&lt;/p&gt;</textarea>
			<script type="text/javascript">
			//<![CDATA[

				// This call can be placed at any point after the
				// <textarea>, or inside a <head><script> in a
				// window.onload event handler.

				// Replace the <textarea id="editor"> with an CKEditor
				// instance, using default configurations.
				CKEDITOR.replace( 'editor1' );

			//]]>
			</script>

<!--
		<form method = "post" action = "http://localhost/index.php?return=admin.php">
<textarea class="ckeditor" cols="80" id="editor1" name="editor1" rows="10">&lt;p&gt;This is some &lt;strong&gt;sample text&lt;/strong&gt;. You are using &lt;a href="http://ckeditor.com/"&gt;CKEditor&lt;/a&gt;.&lt;/p&gt;</textarea>
		<br><br>
		<input type = "text" id = "by" name = "by" value = "">

		<br><br>
        <input type = "submit" value = "Submit">
 		</form>
-->
		<br><br>
		<a href = "/admin.php?logout=1">Logout</a>
		<br><br>
		<br><br>

	</div>
	<br>
    <p class = "h7" style = "position: relative; bottom: -98px;"> content copyright Justin McCandless 2011 </p>

    <p class = "h7" style = "position: relative; bottom: -88px;"> design and framework <a href = "http://www.github.com/justinmc/justinmccandless.com">open source</a> </p>
	<p class = "h7" style = "position: relative; bottom: -108px;">&nbsp;</p>
	<div class = "decCornerBot"></div>
</div>

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10096632-2");
pageTracker._trackPageview();
} catch(err) {}</script>

<!-- End Google Analytics -->

</body>

</html>


<!--

Notes

look at entry 27, broken links
change email address to justinjmccandless

-->

