<?php

require $rootDir . '/app/controllers/page.php';
$page = new Page($rootDir, $rootUrl, $filename, $_REQUEST["entry"], $_REQUEST["tag"], $_REQUEST["logout"], $_POST["identifier"]);

?>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>																																		
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="description" content="<?php echo $page->description; ?>">
<meta name="keywords" content="<?php foreach ($page->tags as $tag) echo $tag . ", "; ?>"> 
<meta name="google-site-verification" content="udKKu8OEdAdtCp2TvUqEh_YcRkXu8uIE4a2qYEtEniE" />

<link rel = stylesheet type = "text/css" href = "<?php echo $rootUrl; ?>/stylesheets/main.css">
<script type="text/javascript" src="<?php echo $page->rootUrl; ?>/javascripts/jquery-1.7.1.js"></script>
<script type="text/javascript" src="<?php echo $page->rootUrl; ?>/javascripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="<?php echo $page->rootUrl; ?>/javascripts/ckeditor/_samples/sample.js"></script>

<!-- Google +1 Code -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<title><?php echo $page->title; ?></title>
<link REL="SHORTCUT ICON" href="<?php echo $rootUrl; ?>/images/favicon.ico">
<?php

$isPost;	// if this page is a post, need date and comments
if ($filename == "http://www.justinmccandless.com/about.php")
	$isPost = 0;
elseif ($filename == "http://www.justinmccandless.com/archive.php")
	$isPost = 0;
else
	$isPost = 1;

?>
</head>

<body>

<!-- Facebook Like code -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=132237094403";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Google Ad Sense code -->
<script type="text/javascript"><!--
google_ad_client = "ca-pub-2475745093547689";
/* 180&#42;150 small retangle */
google_ad_slot = "8421616956";
google_ad_width = 180;
google_ad_height = 150;
//-->
</script>

<br><br>

<div class = "all">
	<div class = "decCornerTop"></div>
    <img src = "<?php echo $rootUrl; ?>/images/titleSuits.png" style = "position: absolute; top: -10px; right: 64px;">
    <a class = "h1" href = "index.php"><h1 style = "position: relative; top: -10px; left: 0px;">Justin John McCandless</h1></a>
    <ul class = "nav" style = "position: relative; top: -20px; left: 0px;">
    <li><a href = "index.php">Home</a>
    <li><a href = "about.php">About</a>
    <li><a href = "projects.php">Projects</a>
	<li><a href = "pictures.php">Pictures</a>
    <li><a href = "archive.php">Archive</a>
    </ul>
    <div class = "news">
        <!-- Begin Google Custom Search -->        
		<form action="<?php echo $rootUrl; ?>/search.php" id="cse-search-box">
		  <div>
			<input type="hidden" name="cx" value="partner-pub-2475745093547689:0579282146" />
			<input type="hidden" name="cof" value="FORID:10" />
			<input type="hidden" name="ie" value="UTF-8" />
			<input type="text" name="q" size="12" />
			<input type="submit" name="sa" value="Search" />
		  </div>
		</form>
		<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
		<!-- End Google Custom Search -->
        <br><br><br><br>
        <div class = "newstitle">
            <a href = "tags.php">Tags</a>
        </div>
<?php

// Tags
for ($count = 0; $count < $page->dbJmc->numRows("dat_tags"); $count++)
{	$DATA = $page->dbJmc->getRow("dat_tags", $count);
	echo '<a href = "' . $page->rootUrl . '/tags.php?tag=' . $DATA["tag"] . '">' . $DATA["tag"] . '</a> ';
}

?>
        <br><br>
<?php

// Google Adsense
if ($page->nameShort($filename) != "search")
	$page->content("googleAdSense.html", $authenticated);

?>
		<br><br>
<?php  

// Recent posts in sidebar
for ($count = 0; $count < 8; $count++)
{	$DATA = $page->dbJmc->getRow("dat_entries", ($page->dbJmc->numRows("dat_entries") - $count - 1));
	include($page->dirRoot . '/app/views/content/news.html');
}


?>
    </div>
    <div class = "main">
<?php  

// The name of all main content div html files are the same as the php file
$page->content(($page->nameShort($filename) . ".html"), $authenticated);

// $include->comments($isPost);

?>

	</div>
	<br>
    <p class = "h7" style = "position: relative; bottom: -98px;"> content copyright Justin McCandless <?php echo date('Y'); ?> </p>
    <p class = "h7" style = "position: relative; bottom: -88px;"> design and framework <a href = "http://www.github.com/justinmc/justinmccandless.com">open source</a> </p>
	<p class = "h7" style = "position: relative; bottom: -108px;">&nbsp;</p>
	<div class = "decCornerBot"></div>
</div>

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10096632-2");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- End Google Analytics -->

</body>

</html>


<!--

Notes

look at entry 27, broken links
change to dynamic description meta tag
change to better urls
prettier tags


-->
