<?php

require $rootDir . '/app/controllers/page.php';
$page = new Page($rootDir, $urlDir);

$entry = $_REQUEST["entry"];

if ($entry == '')
	$entry = $page->dbJmc->numRows("Entries");

$tag = $_REQUEST["tag"];

// Cookie must be set before any html!
$identifier = $_REQUEST["identifier"];
if ($identifier)
  setcookie("identifier", $identifier, time() +108000);
else
  $identifier = $_COOKIE["identifier"];
  
if ($_REQUEST["logout"])
{ setcookie("identifier", "", time() -108000);
  $identifier = "";
}
$authenticated = 0; //authenticate($identifier); // identifier set at top


?>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>																																		
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link rel = stylesheet type = "text/css" href = "<?php echo $rootUrl; ?>/stylesheets/main.css">

<!-- Google +1 Code -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<title>Justin McCandless</title>
<link REL="SHORTCUT ICON" href="<?php echo $rootUrl; ?>/images/favicon.ico">
<!-- <link rel="alternate" type="application/rss+xml" title="All RSS" href="http://justinmccandless.com/feeds/rss.xml" /> -->
<!-- <link rel="alternate" type="application/rss+xml" title="All Atom" href="http://justinmccandless.com/feeds/atom.xml" /> -->
<?php

$isPost;	// if this page is a post, need date and comments
if ($filename == "http://www.justinmccandless.com/about.php")
	$isPost = 0;
elseif ($filename == "http://www.justinmccandless.com/archive.php")
	$isPost = 0;
else
	$isPost = 1;

?>
</head>

<body>

<br><br>

<div class = "all">
	<div class = "decCornerTop"></div>
    <img src = "<?php echo $rootUrl; ?>/images/titleSuits.png" style = "position: absolute; top: -10px; right: 64px;">
    <a href = "index.php"><h1 style = "position: relative; top: -10px; left: 0px;">Justin John McCandless</h1></a>
    <ul class = "nav" style = "position: relative; top: -20px; left: 0px;">
    <li><a href = "index.php">Home</a>
    <li><a href = "about.php">About</a>
    <li><a href = "projects.php">Projects</a>
    <li><a href = "archive.php">Archive</a>
    </ul>
    <div class = "news">
        <!-- Begin Google Custom Search -->        
		<form action="<?php echo $rootUrl; ?>/search.php" id="cse-search-box">
		  <div>
			<input type="hidden" name="cx" value="partner-pub-2475745093547689:0579282146" />
			<input type="hidden" name="cof" value="FORID:10" />
			<input type="hidden" name="ie" value="UTF-8" />
			<input type="text" name="q" size="12" />
			<input type="submit" name="sa" value="Search" />
		  </div>
		</form>
		<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
		<!-- End Google Custom Search -->
        <br><br><br><br>
        <div class = "newstitle">
            <a href = "tags.php">Tags</a>
        </div>
<?php

$page->include->tags();

?>
        <br><br>
<?php

if ($page->nameShort($filename) != "search")
	$page->include->content("googleAdSense.html", $authenticated);

?>
		<br><br>
<?php  

$page->include->news();

?>
    </div>
    <div class = "main">
<?php  

// The name of all main content div html files are the same as the php file
$page->include->content(($page->nameShort($filename) . ".html"), $authenticated);

// $include->comments($isPost);

?>

	</div>
	<br>
    <p class = "h7" style = "position: relative; bottom: -98px;"> content copyright Justin McCandless <?php echo date('Y'); ?> </p>
    <p class = "h7" style = "position: relative; bottom: -88px;"> design and framework <a href = "http://www.github.com/justinmc/justinmccandless.com">open source</a> </p>
	<p class = "h7" style = "position: relative; bottom: -108px;">&nbsp;</p>
	<div class = "decCornerBot"></div>
</div>

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10096632-2");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- End Google Analytics -->

</body>

</html>


<!--

Notes

Right now, you link to entries via Index.  Previously it was done via Number.  So watch out for old links no longer working.
look at git's site for design
make sure google search works
add adwords
fix favicon

-->
